
body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  display: none; 
}

.Menu.open ~ .Overlay {
  display: block; 
}
.App{
  width: 100%;
  height:  inherit;
  padding: 20px;
}

.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: black;
  color: white;
}
