.Description {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
  }
  
  .Description textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    background-color: transparent;
    color: inherit;
  }
  
  .Description button {
    margin-right: 10px;
  }