/* topbar.css */

.TopBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: inherit;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
  }
  
  .app-title {
    margin: 0;
    font-size: 1.2rem;
    align-content: center;
  }
  
  .hamburger-menu {
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
  }
  .hamburger-menu:hover{
    background-color: lightgray;
  }
  
  .hamburger-menu .bar {
    width: 17px;
    height: 1px;
    margin: 4px 0;
  }
  .search{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
  }
  .search-input{
    padding-left: 20px;
    background-color: transparent;
    color: inherit;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border-color: lightgrey;
  }
  .search-input:focus{
    border-color: grey;
    outline: none;

  }
  
.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end; 
}
.leftTop{
  display: flex;
}
.bar.dark{
  background-color: white;
}
.bar.light{
  background-color: black;
}